html {
	font-family: 'Ubuntu', sans-serif;
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Ubuntu Condensed', sans-serif;
}

header {
	display: flex;
	align-items: center;
	width: 100%;
}

h1 {
	flex-basis: 45%;
	text-align: center;
	color: rgba(255, 255, 255, .8);
}

nav {
	flex-basis: 55%;
}